<!--<geetha></geetha>-->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-struct-directives></app-struct-directives> -->
<!-- <app-calculator></app-calculator> -->
  <!-- <app-product></app-product>    -->
 
    <!-- <app-calculator1></app-calculator1>  -->
   <!-- <div>
    <h1>App Component</h1>
    <app-parent></app-parent>
    </div> -->

    <br>
    <br>

     <!-- <app-first></app-first> 

    <app-second></app-second> -->
    
   
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Navbar</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
            </li>
          </ul>
        </div>
      </nav>
   <router-outlet></router-outlet>  
   <hr>
   <br>
    <br>

  <!-- <app-sibling1></app-sibling1>
  <app-sibling2></app-sibling2>   -->

   <app-react-forms>
  


    