<h2>employee1 works!</h2>

<!-- <div class ="container">
 <table border="3px"class="table table-hover">
   <tr> -->
   <!-- <td colspan="3"> <select class="form-select" [(ngModel)]="funnel" >   -->

    <!-- <td colspan="2"> -->
        <!-- search:<input type="text" [(ngModel)]="filter"> -->

    <!-- <td><select class="form-select" [(ngModel)]="funnel" >
      <option [value]="'a-z'">A-Z</option>
      <option [value]="'z-a'">Z-A</option>
      <option [value]="'low'">Low-High</option>
      <option [value]="'high'">High-Low</option>
   </select>  </td> -->

   <div class ="container">
    <table border="1px"class="table table-hover">
      <td colspan="4">Search:<input type="text" [(ngModel)]="filter"  ></td>

    

    <tr><th>empID</th>
        <th>empName</th>
        <th>empSal</th>


    </tr>

    <tr ngColor *ngFor="let emp of employees | search:filter">
    <td>{{emp.empid}}</td>
    <td>{{emp.empname}}</td>
    <td>{{emp.empsal}}</td>




      </table>
</div>
